---
/**
 * * Dropdown menu that opens on hover
 * This is for non-mobile devices
 */
import { Icon } from "astro-icon";

// components
import NavLink from "@components/Nav/NavLink.astro";
import { type navDropdownItem } from "@config/types/configDataTypes";

interface Props {
  navItem: navDropdownItem;
}

const { navItem } = Astro.props as Props;
---

<!-- non-mobile dropdown menu -->
<li class="dropdown group relative">
  <button
    class="primary-focus flex items-center gap-0.5 rounded-md px-3 py-2 font-medium leading-tight text-base-500 transition hover:text-base-600 dark:text-base-400 dark:hover:text-base-300"
    type="button"
    aria-label={`${navItem.text} dropdown menu`}
  >
    {navItem.text}
    <Icon name="tabler/chevron-down" aria-hidden="true" class="size-5" />
  </button>
  <div
    class="dropdown-content invisible absolute left-0 z-10 opacity-0 transition-all"
  >
    <ul
      class="mt-4 w-[12rem] min-w-[9rem] max-w-[20rem] rounded-md border border-solid border-base-200 bg-base-50 p-1.5 drop-shadow-sm dark:border-base-800 dark:bg-base-900"
    >
      {
        navItem.dropdown.map((dropdownItem) => (
          <NavLink navItem={dropdownItem} />
        ))
      }
    </ul>
  </div>
</li>

<style lang="scss">
  .dropdown {
    // when dropdown is hovered over (mouse) or focused (keyboard tabbing), open it with animation
    &:hover > .dropdown-content,
    &:focus-within > .dropdown-content {
      animation: navDropdownFadeInAnimation ease-out 0.15s forwards;
      @apply visible opacity-100;
    }
  }

  @keyframes navDropdownFadeInAnimation {
    0% {
      @apply top-[80%];
    }
    100% {
      @apply top-full;
    }
  }
</style>
