---

---

<span
  class="mb-4 inline-block rounded-full bg-primary-100 px-2 py-px text-xs font-medium uppercase leading-5 text-primary-500 shadow-sm shadow-base-200/20 dark:bg-primary-500 dark:text-white dark:shadow-none"
>
  <slot />
</span>
