---
/**
 * * FAQ section in accordions, left header text with right faq items
 * using the Accordion component
 */
import { Icon } from "astro-icon";

// components
import Accordion from "@components/Accordion/Accordion.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const faqData = getTranslatedData("faqData", currLocale);
---

<section id="faq-accordions" class="overflow-hidden py-24 md:py-28">
  <div class="site-container grid gap-10 md:grid-cols-2">
    <div class="mr-auto max-w-lg">
      <Badge>FAQ</Badge>
      <h2 class="h2 mb-6">Frequently Asked Questions</h2>
      <p class="description md:text-lg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
        consequuntur doloremque saepe, laboriosam excepturi cumque nostrum
        tempora perferendis perspiciatis.
      </p>
    </div>
    <div class="flex flex-col gap-3">
      {
        faqData.map(({ question, answer }) => (
          <Accordion title={question} details={answer} />
        ))
      }
    </div>
  </div>
</section>
