---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props as Props;
---

<div class="flex flex-col gap-3">
  <p class="dark:text-base-100 text-lg font-bold">{question}</p>
  <div class="description prose mt-1 mr-auto mb-4 max-w-full leading-snug">
    <Fragment set:html={answer} />
  </div>
</div>
