---
import { getRelativeLocaleUrl } from "astro:i18n";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { humanize } from "@js/textUtils";

interface Props {
  category: string;
}

const { category } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<a
class="inline-block rounded-full bg-primary-100/70 px-3 py-1 text-xs font-medium uppercase leading-5 text-primary-500 shadow-sm shadow-base-200/20 transition-colors hover:bg-primary-200/70 dark:bg-primary-500/90 dark:text-base-50 dark:shadow-none dark:hover:bg-primary-600"
  href={getRelativeLocaleUrl(currLocale, `/categories/${category}`)}
>
  {category ? humanize(category) : ''}
</a>
