---
/**
 * * These are medium cards with icons, titles, and text. With title first
 * This looks best with 3 or 6 cards
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

// components
import FeatureCard from "@components/FeatureCard/FeatureCardMedium.astro";
import Badge from "@components/Badge/Badge.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
}

// data
const featureData: FeatureData[] = [
{
    icon: "tabler/outline/broadcast",
    title: "Podcasts",
    text: `Podcasting is a great way to learn, share and get to know people. I've published over 250 episodes for different podcasts.`,
  },
  {
    icon: "tabler/outline/calendar-event",
    title: "Events",
    text: `I've had the privilege of speaking at a number of wonderful industry conferences and universities around the world, sharing my experience with the audience and sharing ideas with a lot of experts.`,
  },
  {
    icon: "tabler/outline/article",
    title: "Articles",
    text: `I provide actionable tips on improving your online business and boosting conversion rates.`,
  },
  {
    icon: "tabler/list-check",
    title: "Presentations",
    text: `Overview of public presentations with decks and videos (when available).`,
  },
  // {
  //   icon: "tabler/home-heart",
  //   title: "Durability",
  //   text: `We use high-quality materials and techniques to ensure that our paint jobs are
  //     durable and long-lasting.`,
  // },
  // {
  //   icon: "tabler/wand",
  //   title: "Beautiful results",
  //   text: `Our team of skilled painters has an eye for detail and a passion for creating
  //     beautiful spaces. We create stunning results that leave our clients thrilled.`,
  // },
];
---

<section
  id="feature-cards-medium"
  class="overflow-hidden bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat py-12 dark:bg-[url('/assets/pattern-dark.svg')] md:py-20"
>
  <div class="site-container">
    <div class="mx-auto mb-16 text-center md:max-w-4xl" data-aos="fade-up">
      <Badge>Content</Badge>
      <h2 class="h2 mb-4">What can you find here?</h2>
      <!-- <p class="description text-pretty text-lg md:text-xl">
        Content!
      </p> -->
    </div>
    <div
      id="trigger-medium-cards"
      class="grid gap-4 md:grid-cols-3"
      data-aos="fade-left"
    >
      {
        featureData.map((feature, idx) => (
          <FeatureCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
          />
        ))
      }
    </div>
  </div>
</section>
