---
/**
 * * About page with various sections including some text, team profiles, and CTA
 * Edit the team member information inside src/config/teamData.json.ts
 */
import { Icon } from "astro-icon";
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Profile from "@components/Profile/Profile.astro";
import Button from "@components/Button/Button.astro";
import CtaCardSplit from "@components/Cta/CtaCardSplit.astro";
import Badge from "@components/Badge/Badge.astro";
import AboutMe from "@components/AboutMe/AboutMe.mdx";
import FeatureGalleryMarquee from "@components/Feature/FeatureGalleryMarquee.astro";
import ServicesSideImage from "@components/Services/ServicesSideImage.astro";



// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const teamData = getTranslatedData("teamData", currLocale);
---

<BaseLayout
  title="About Us"
  description="All about our super awesome small business team!"
>
  <!-- text section -->
  <!-- <section
    class="site-container mx-auto mt-16 bg-[url('/assets/pattern-light-big.svg')] bg-center bg-no-repeat py-24 dark:bg-[url('/assets/pattern-dark-big.svg')]"
  >
    <!-- <div class="mb-16 text-center">
      <Badge>Team</Badge>
      <h1 class="h1 mb-4">Our team is the best in the business.</h1>
      <p class="description mb-8 text-lg md:text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptate
        molestias fugit.
      </p>
      <div class="flex justify-center">
        <Button
          variant="primary"
          href={getRelativeLocaleUrl(currLocale, "/contact")}
        >
          Contact Us
        </Button>
      </div>
    </div> -->

    <!-- Team info -->
    <!-- <div class="mt-12 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        teamData.map((member) => (
          <Profile
            name={member.name}
            title={member.title}
            image={member.image}
            bio={member.bio}
          />
        ))
      }
    </div> -->
  </section> -->
  <ServicesSideImage />
  <FeatureGalleryMarquee />
  <CtaCardSplit />
</BaseLayout>
