---
import { Icon } from "astro-icon";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Badge from "@components/Badge/Badge.astro";
import SocialCards from "@components/SocialCards/SocialCards.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<BaseLayout
  title="Book me for your event"
  description="Get in touch! Contact me using the form below or send me a DM."
  transition:animate="slide"
>
  <section class="py-24 md:py-28">
    <div class="site-container px-4">
      <div class="relative">
        <div class="mx-auto text-center md:max-w-2xl">
          <Badge>Connect with me</Badge>
          <h1 class="h1 mb-4">Contact Me / Book me for your event</h1>
          <p class="description text-lg md:text-xl">
            Contact me by sending me a DM on one of the platforms below.
          </p>
        </div>

        <div class="mt-12">
          <SocialCards />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
