---
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
  title="Recent Blog Posts"
  description="Recent Blog Posts Description"
>
  <section
    class="site-container bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat py-36 dark:bg-[url('/assets/pattern-dark.svg')]"
  >
    <div class="mx-auto max-w-4xl text-center">
      <Badge>Overview</Badge>
      <h1 class="h1 -mt-3">The various pages of Atlas</h1>
      <!-- <p class="description mt-2">The various pages of Atlas</p> -->
      <div class="mx-auto mt-10 grid gap-4 xs:grid-cols-2 md:grid-cols-3">
        <!-- Landing pages -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Landing Pages</h3>
          <a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/")}
            >Home Page</a
          >
        </div>

        <!-- Blog pages -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Blog</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/post")}>Blog Index</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/categories")}>Categories</a
          >
        </div>

        <!-- Site Pages -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Site Pages</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/contact")}>Contact</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/projects")}>Projects</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/podcasts")}>Podcasts</a
          >
        </div>

        <!-- Widgets -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Widgets</h3>
          <!-- CookieConsent component should be used in BaseLayout.astro if desired -->
          <button id="test-consent-demo-btn" class="overview-link"
            >Cookie Consent</button
          >
        </div>

        <!-- Other -->
        <div class="flex flex-col">
          <h3 class="overview-heading">Other</h3>
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/about")}>About</a
          >
          <a
            class="overview-link"
            href={getRelativeLocaleUrl(currLocale, "/press")}>Press</a
          >
          <a
            class="overview-link"
            href="/rss.xml"
            target="_blank"
            rel="noopener noreferrer">RSS Feed</a
          >
        </div>
      </div>
    </div>

    <!-- CookieConsent component should be used in BaseLayout.astro if desired -->
    <div
      id="test-banner"
      class="fixed inset-x-6 bottom-6 z-50 hidden justify-center"
    >
      <div
        class="flex flex-wrap items-center justify-center gap-x-6 gap-y-2 rounded-md border border-base-200 bg-base-50 p-4"
      >
        <div class="text-center">
          <p class="text-sm font-medium text-base-500 dark:text-base-400 lg:text-base">
            We use cookies to improve your experience on this site. To learn
            more, see our <a
              href={getRelativeLocaleUrl(currLocale, "/privacy-policy")}
              class="text-base-700 dark:text-base-200 underline decoration-primary-500 transition hover:text-primary-500"
              >Privacy Policy</a
            >.
          </p>
        </div>
        <div class="mx-auto flex gap-2">
          <Button variant="primary" type="button">Accept</Button>
          <Button variant="ghost" type="button">Decline</Button>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .overview-heading {
    @apply mb-4 mt-6 text-xl font-bold dark:text-base-300 md:text-2xl;
  }
  .overview-link {
    // @apply text-primary-600 hover:text-primary-700 hover:underline;
    @apply my-[.15rem] font-medium leading-snug text-base-500 transition hover:text-base-600 dark:text-base-400 dark:hover:text-base-300;
  }
</style>

<script>
  //Script purely for demo of the CookieConsent component. Use the actual <CookieConsent /> component in BaseLayout.astro if desired.
  function cookieConsentSetup() {
    const cookieBanner = document.getElementById("test-banner");
    const acceptButton = document.querySelector(
      "#test-banner button:first-of-type",
    );
    const declineButton = document.querySelector(
      "#test-banner button:last-of-type",
    );
    const cookieConsentDemoBtn = document.getElementById(
      "test-consent-demo-btn",
    );

    cookieConsentDemoBtn?.addEventListener("click", () => {
      cookieBanner?.classList.toggle("hidden");
      cookieBanner?.classList.toggle("flex");
    });

    // If the user clicks the accept button, hide the banner and set a cookie
    acceptButton?.addEventListener("click", () => {
      console.log("cookies accepted example");
      cookieBanner?.classList.toggle("hidden");
      cookieBanner?.classList.toggle("flex");
    });

    // If the user clicks the decline button, hide the banner and set a cookie
    declineButton?.addEventListener("click", () => {
      console.log("cookies declined example");
      cookieBanner?.classList.toggle("hidden");
      cookieBanner?.classList.toggle("flex");
    });
  }

  // runs on initial page load
  cookieConsentSetup();

  // runs on view transitions navigation
  document.addEventListener("astro:after-swap", cookieConsentSetup);
</script>
