---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Badge from "@components/Badge/Badge.astro";
import ProjectCard from "@components/Projects/ProjectCard.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

// data
import { indieProjects } from "@data/indieProjects";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
  title="IndieHacker Projects"
  description="Check out the indie projects I'm currently working on."
  transition:animate="slide"
>
  <section class="py-24 md:py-28">
    <div class="site-container px-4">
      <div class="relative">
        <div class="mx-auto text-center md:max-w-2xl">
          <Badge>Projects</Badge>
          <h1 class="h1 mb-4">IndieHacker Projects</h1>
          <p class="description text-lg md:text-xl">
            Here are some of the indie or community projects I've worked on recently. All are available on GitHub under MIT license, or on their respective marketplaces.
          </p>
        </div>
        
        <div class="mt-12 grid gap-8">
          {indieProjects.map((project) => (
            <ProjectCard {...project} />
          ))}
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
