---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import { getRelativeLocaleUrl } from "astro:i18n";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

// images
import logo from "@images/atlas-logo.png";
---

<a
  class="primary-focus flex items-center gap-2 align-middle text-xl font-bold text-base-600 dark:text-base-200"
  href={getRelativeLocaleUrl(currLocale)}
>
  <!-- <Image
    src={logo}
    alt="Atlas logo"
    loading="eager"
    height={90}
    class="h-10 w-auto"
    aria-label="Atlas logo"
  /> -->
  <Icon
    name="atlas/logoipsum"
    class="size-6 text-primary-500"
    aria-hidden="true"
  />
  <p class="">{siteData.name}</p>
</a>
