---
import type { PodcastEpisode } from "../../types/podcast";
import Button from "../Button/Button.astro";

interface Props {
  episodes: PodcastEpisode[];
}

const { episodes } = Astro.props;
---

<div class="space-y-6 max-w-4xl mx-auto">
  {/* Header */}
  <div class="mb-8">
    <h1 class="text-4xl font-bold text-base-900 dark:text-base-100 mb-4">
      Latest Podcast Episodes
    </h1>
    <p class="text-xl text-base-500 dark:text-base-400">
      Listen to the latest episodes from podcasts that I host. <br/> For podcasts I'm a guest in, check out the <a href="/press/#podcasts" class="text-blue-500 hover:underline">Press page</a>.
    </p>
  </div>

  {/* Episodes List */}
  <div class="space-y-6">
    {episodes.map((episode) => (
      <div class="w-full bg-gray-800 rounded-lg overflow-hidden">
        <iframe 
          width="100%" 
          height="180" 
          frameborder="no" 
          scrolling="no" 
          seamless 
          src={episode.link}
          title={episode.title}
          allow="encrypted-media"
        />
      </div>
    ))}
  </div>

  {/* Empty State */}
  {episodes.length === 0 && (
    <div class="text-center py-12">
      <div class="text-4xl mb-4">🎙️</div>
      <h3 class="text-xl font-semibold text-base-900 dark:text-base-100 mb-2">
        No Episodes Available
      </h3>
      <p class="text-base-500 dark:text-base-400">
        Check back soon for new podcast episodes!
      </p>
    </div>
  
  )}
</div>
<div class="flex justify-center mt-8">
    <Button href="/press/#podcasts" variant="primary" aria-label="View my appearances in 3rd party podcasts">
        View my appearances in 3rd party podcasts
    </Button>
  </div>
