---
// utils
import { getCollection } from "astro:content";
import { countItems, sortByValue } from "@js/blogUtils";
import { humanize } from "@js/textUtils";

// Get all categories and sort them by count
const posts = await getCollection("blog", ({ data }) => {
  return !data.draft;
});

const categories = posts.map((post) => post.data.categories).flat();
const processedCategories = sortByValue(countItems(categories));
---

<!-- Your template here -->
<div class="category-cloud">
  {processedCategories.map(([category, count]) => (
    <a href={`/categories/${category}`} class="category-link">
      {humanize(category)} ({count})
    </a>
  ))}
</div>
